<!doctype html>
<html>
<head>
    <title>Bank App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bank Application</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('deposit') }}">Deposit</a>
            <a href="{{ url_for('withdraw') }}">Withdraw</a>
            <a href="{{ url_for('statement') }}">Statement</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
